## Tuple
Immutable list
() is used 
A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).
Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [1]:
l=list()
t=tuple()

In [3]:
data=(10,20,'ram',56.8,(10,20,30),[1,2,3])

In [2]:
data

NameError: name 'data' is not defined

In [4]:
type(data)

tuple

In [5]:
len(data)

6

In [6]:
x='a','mahesh',10.56
#A tuple can also be created without using parentheses. This is known as tuple packing.
#Creating a tuple with one element is a bit tricky.

#Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is, in fact, a tuple.

In [7]:
type(x)

tuple

In [8]:
tupl2='a',
print (type(tupl2))

<class 'tuple'>

In [9]:
tupl2=('a',)

In [10]:
s="python"
s[0]="q"
print (s)

TypeError: 'str' object does not support item assignment

### Tuples are immutable
One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot
add or modify items once the tuple is initialized.Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed. For example:

In [11]:
tupl3=1,'mahesh',10.56,(10,20,30)

In [12]:
tupl3[2]="python"
tupl3

TypeError: 'tuple' object does not support item assignment

In [13]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[2]=5000
tupl3

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl3[3]="abcf"
tupl3

In [14]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

(1, 'mahesh', 10.56, [100, 20, 30])

In [15]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3]="abcf"
tupl3

TypeError: 'tuple' object does not support item assignment

In [16]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

(1, 'mahesh', 10.56, [100, 20, 30])

In [17]:
l=[1,2,3,"python"]
l[3][0]="q"
l

TypeError: 'str' object does not support item assignment

In [18]:
l=[1,2,3,"python"]
l[3]="Java"
l

[1, 2, 3, 'Java']

In [19]:
tuple1=(1,2,3,4)

In [20]:
tuple1[0]

1

In [21]:
tuple1[0:2]

(1, 2)

In [22]:
tuple1=(1,2,3,4)
tuple1[:-3:-1]

(4, 3)

#       +
#---------------
# int   | int
# float |float
# int   |float
# float |int
# String|String
# tuple |tuple

In [23]:
tuple2=(1,3,444,55)
tup=tuple2 +(2,)
tup

(1, 3, 444, 55, 2)

In [24]:
'python'*'java'

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
'python '*2

'python python '

In [26]:
tuple2=(1,3,444,55)

In [27]:
tuple2 * 2

(1, 3, 444, 55, 1, 3, 444, 55)

In [29]:
data=(10,20,'rahul',40.6,'z')
data1=data
del data
print (data)
#Deleting a Tuple
#As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.

#But deleting a tuple entirely is possible using the keyword del.

NameError: name 'data' is not defined

In [30]:
print(data1)

(10, 20, 'rahul', 40.6, 'z')

In [ ]:
data=(10,20,40.6)
min(data)

In [ ]:
max(data)

In [ ]:
data=(10,20,40.6,"a")

In [32]:
data=(10,20,40.6,"abcd")
min(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
rev=data[::-1]
rev

In [31]:
list1=['a',1,100,233]
t=tuple(list1)
print(type(t))
print (t)

<class 'tuple'>
('a', 1, 100, 233)

In [33]:
lt=[]
lt=list(t)
print(type(lt))
print (list(t))

<class 'list'>
['a', 1, 100, 233]